resource "konnect_gateway_ca_certificate" "CA_{{ hash .Cert nil }}" {
  {{- if .Cert }}
  cert             = <<EOF
  {{ .Cert -}}
  EOF
  {{- end }}
  {{- if .CertDigest }}
  cert_digest      = "{{ .CertDigest }}"
  {{- end }}
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  control_plane_id = var.control_plane_id
}
