resource "konnect_gateway_certificate" "Cert_{{ hash .Cert nil }}" {
  {{- if .Cert }}
  cert             = <<EOF
  {{ .Cert }}
  EOF
  {{- end }}
  {{- if .Key }}
  key             = <<EOF
  {{ .Key }}
  EOF
  {{- end }}
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  control_plane_id = var.control_plane_id
}

{{- range .SNIs }}
resource "konnect_gateway_sni" "{{ cleanField .Name }}" {
  {{- if .Name }}
  name             = "{{ .Name }}"
  {{- end }}
  certificate = {
    id = konnect_gateway_certificate.Cert_{{ hash $.Cert nil }}.id
  }
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  control_plane_id = var.control_plane_id
}
{{- end }}
