resource "konnect_gateway_consumer" "{{ cleanField .Content.Username }}" {
  {{- if .Content.Username }}
  username         = "{{ .Content.Username }}"
  {{- end }}
  {{- if .Content.CustomID }}
  custom_id        = "{{ .Content.CustomID }}"
  {{- end }}
  {{- if .Content.Tags }}
  tags             = [{{ range $index, $value := .Content.Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  control_plane_id = var.control_plane_id
}

{{- if .GenerateImportsForControlPlaneID }}
import {
  to = konnect_gateway_consumer.{{ cleanField .Content.Username }}
  id = "{ \"id\": \"{{ .Content.ID }}\", \"control_plane_id\": \"{{ .GenerateImportsForControlPlaneID }}\" }"
}

{{- end }}

{{- range .Content.KeyAuths }}
resource "konnect_gateway_key_auth" "{{ cleanField $.Content.Username }}_{{ cleanField .Key }}" {
  {{- if .Key }}
  key              = "{{ .Key }}"
  {{- end }}
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  consumer_id      = konnect_gateway_consumer.{{ cleanField $.Content.Username }}.id
  control_plane_id = var.control_plane_id
}

{{- if $.GenerateImportsForControlPlaneID }}
import {
  to = konnect_gateway_key_auth.{{ cleanField $.Content.Username }}_{{ cleanField .Key }}
  id = "{ \"id\": \"{{ .ID }}\", \"consumer_id\": \"{{ $.Content.ID }}\", \"control_plane_id\": \"{{ $.GenerateImportsForControlPlaneID }}\" }"
}

{{- end }}

{{- end }}

{{- range .Content.HMACAuths }}
resource "konnect_gateway_hmac_auth" "{{ cleanField $.Content.Username }}_{{ cleanField .Username }}" {
  {{- if .Content.Username }}
  username         = "{{ .Content.Username }}"
  {{- end }}
  {{- if .Secret }}
  secret           = "{{ .Secret }}"
  {{- end }}
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  consumer_id      = konnect_gateway_consumer.{{ cleanField $.Content.Username }}.id
  control_plane_id = var.control_plane_id
}

{{- if $.GenerateImportsForControlPlaneID }}
import {
  to = konnect_gateway_hmac_auth.{{ cleanField $.Content.Username }}_{{ cleanField .Username }}
  id = "{ \"id\": \"{{ .ID }}\", \"consumer_id\": \"{{ $.Content.ID }}\", \"control_plane_id\": \"{{ $.GenerateImportsForControlPlaneID }}\" }"
}

{{- end }}

{{- end }}

{{- range .Content.JWTAuths }}
resource "konnect_gateway_jwt" "{{ cleanField $.Content.Username }}_{{ cleanField .Key }}" {
  {{- if .Key }}
  key              = "{{ .Key }}"
  {{- end }}
  {{- if .Algorithm }}
  algorithm        = "{{ .Algorithm }}"
  {{- end }}
  {{- if .Secret }}
  secret           = "{{ .Secret }}"
  {{- end }}
  {{- if .RSAPublicKey }}
  rsa_public_key   = <<EOF
  {{ .RSAPublicKey }}
  EOF
  {{- end }}
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  consumer_id      = konnect_gateway_consumer.{{ cleanField $.Content.Username }}.id
  control_plane_id = var.control_plane_id

  {{- if $.IgnoreCredentialChanges }}
  lifecycle {
    ignore_changes = [ 
      secret,
      key,
    ]
  }
  {{- end }}
}

import {
  to = konnect_gateway_jwt.{{ cleanField $.Content.Username }}_{{ cleanField .Key }}
  id = "{ \"id\": \"{{ .ID }}\", \"consumer_id\": \"{{ $.Content.ID }}\", \"control_plane_id\": \"{{ $.GenerateImportsForControlPlaneID }}\" }"
}

{{- end }}

{{- range .Content.BasicAuths }}
resource "konnect_gateway_basic_auth" "{{ cleanField $.Content.Username }}_{{ cleanField .Username }}" {
  {{- if .Username }}
  username         = "{{ .Username }}"
  {{- end }}
  {{- if .Password }}
  password         = "{{ .Password }}"
  {{- end }}
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  consumer_id      = konnect_gateway_consumer.{{ cleanField $.Content.Username }}.id
  control_plane_id = var.control_plane_id

  {{- if $.IgnoreCredentialChanges }}
  lifecycle {
    ignore_changes = [ 
      password,
    ]
  }
  {{- end }}
}

import {
  to = konnect_gateway_basic_auth.{{ cleanField $.Content.Username }}_{{ cleanField .Username }}
  id = "{ \"id\": \"{{ .ID }}\", \"consumer_id\": \"{{ $.Content.ID }}\", \"control_plane_id\": \"{{ $.GenerateImportsForControlPlaneID }}\" }"
}

{{- end }}

{{- range .Content.ACLGroups }}
resource "konnect_gateway_acl" "{{ cleanField $.Content.Username }}_{{ cleanField .Group }}" {
  {{- if .Group }}
  group            = "{{ .Group }}"
  {{- end }}
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  consumer_id      = konnect_gateway_consumer.{{ cleanField $.Content.Username }}.id
  control_plane_id = var.control_plane_id
}

import {
  to = konnect_gateway_acl.{{ cleanField $.Content.Username }}_{{ cleanField .Group }}
  id = "{ \"id\": \"{{ .ID }}\", \"consumer_id\": \"{{ $.Content.ID }}\", \"control_plane_id\": \"{{ $.GenerateImportsForControlPlaneID }}\" }"
}

{{- end }}

{{- range .Content.Plugins }}
resource "konnect_gateway_plugin_{{ dashToUnderscore .Name }}" "{{ cleanField $.Content.Username }}_{{ cleanField .Name }}" {
  {{- if .InstanceName }}
  instance_name = "{{ .InstanceName }}"
  {{- end }}
  {{- if .RunOn }}
  run_on = "{{ .RunOn }}"
  {{- end }}
  {{- if .Enabled }}
  enabled = {{ .Enabled }}
  {{- end }}
  {{- if .Config }}
  config = {{ printf "%s" (jsonmarshal .Config) }}
  {{- end }}
  {{- if .Protocols }}
  protocols = [{{ range $index, $value := .Protocols }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  consumer = {
    id = konnect_gateway_consumer.{{ cleanField $.Content.Username }}.id
  }
  control_plane_id = var.control_plane_id
}

import {
  to = konnect_gateway_plugin_{{ dashToUnderscore .Name }}.{{ cleanField $.Content.Username }}_{{ cleanField .Name }}
  id = "{ \"id\": \"{{ .ID }}\", \"control_plane_id\": \"{{ $.GenerateImportsForControlPlaneID }}\" }"
}

{{- end }}
