resource "konnect_gateway_upstream" "{{ cleanField .Name }}" {
  {{- if .Name }}
  name             = "{{ .Name }}"
  {{- end }}
  {{- if .Slots }}
  slots            = {{ .Slots }}
  {{- end }}
  {{- if .HostHeader }}
  host_header      = "{{ .HostHeader }}"
  {{- end }}
  {{- if .ClientCertificate }}
  client_certificate  = {
    id = "{{ .ClientCertificate.ID }}"
  }
  {{- end }}
  {{- if .Algorithm }}
  algorithm        = "{{ .Algorithm }}"
  {{- end }}
  {{- if .HashOn }}
  hash_on          = "{{ .HashOn }}"
  {{- end }}
  {{- if .HashFallback }}
  hash_fallback    = "{{ .HashFallback }}"
  {{- end }}
  {{- if .HashOnHeader }}
  hash_on_header   = "{{ .HashOnHeader }}"
  {{- end }}
  {{- if .HashFallbackHeader }}
  hash_fallback_header = "{{ .HashFallbackHeader }}"
  {{- end }}
  {{- if .HashOnCookie }}
  hash_on_cookie   = "{{ .HashOnCookie }}"
  {{- end }}
  {{- if .HashOnCookiePath }}
  hash_on_cookie_path = "{{ .HashOnCookiePath }}"
  {{- end }}
  {{- if .HashOnQueryArg }}
  hash_on_query_arg = "{{ .HashOnQueryArg }}"
  {{- end }}
  {{- if .HashFallbackQueryArg }}
  hash_fallback_query_arg = "{{ .HashFallbackQueryArg }}"
  {{- end }}
  {{- if .HashOnURICapture }}
  hash_on_uri_capture = "{{ .HashOnURICapture }}"
  {{- end }}
  {{- if .HashFallbackURICapture }}
  hash_fallback_uri_capture = "{{ .HashFallbackURICapture }}"
  {{- end }}
  {{- if .UseSrvName }}
  use_srv_name     = {{ .UseSrvName }}
  {{- end }}
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  {{- if .Healthchecks }}
  healthchecks = {
    {{- if .Healthchecks.Active }}
    active = {
    {{- if .Healthchecks.Active.Concurrency }}
        concurrency = {{ .Healthchecks.Active.Concurrency }}
    {{- end }}
    {{- if .Healthchecks.Active.HTTPPath }}
        http_path = "{{ .Healthchecks.Active.HTTPPath }}"
    {{- end }}
    {{- if .Healthchecks.Active.HTTPSSni }}
        https_sni = "{{ .Healthchecks.Active.HTTPSSni }}"
    {{- end }}
    {{- if .Healthchecks.Active.HTTPSVerifyCertificate }}
        https_verify_certificate = {{ .Healthchecks.Active.HTTPSVerifyCertificate }}
    {{- end }}
    {{- if .Healthchecks.Active.Timeout }}
        timeout = {{ .Healthchecks.Active.Timeout }}
    {{- end }}
    {{- if .Healthchecks.Active.Type }}
        type = "{{ .Healthchecks.Active.Type }}"
    {{- end }}
    {{- if .Healthchecks.Active.Headers }}
        headers = {
          {{- range $key, $value := .Healthchecks.Active.Headers }}
          "{{ $key }}" = jsonencode({{ printf "%s" (jsonmarshal $value) }})
          {{- end }}
        }
    {{- end }}
    {{- if .Healthchecks.Active.Healthy }}
      healthy = {
        {{- if .Healthchecks.Active.Healthy.HTTPStatuses }}
        http_statuses = [{{ range $index, $value := .Healthchecks.Active.Healthy.HTTPStatuses }}{{ if $index }}, {{ end }}{{ $value }}{{ end }}]
        {{- end }}
        {{- if .Healthchecks.Active.Healthy.Interval }}
        interval = {{ .Healthchecks.Active.Healthy.Interval }}
        {{- end }}
        {{- if .Healthchecks.Active.Healthy.Successes }}
        successes = {{ .Healthchecks.Active.Healthy.Successes }}
        {{- end }}
      }
    {{- end }}
    {{- if .Healthchecks.Active.Unhealthy }}
      unhealthy = {
        {{- if .Healthchecks.Active.Unhealthy.HTTPFailures }}
        http_failures = {{ .Healthchecks.Active.Unhealthy.HTTPFailures }}
        {{- end }}
        {{- if .Healthchecks.Active.Unhealthy.HTTPStatuses }}
        http_statuses = [{{ range $index, $value := .Healthchecks.Active.Unhealthy.HTTPStatuses }}{{ if $index }}, {{ end }}{{ $value }}{{ end }}]
        {{- end }}
        {{- if .Healthchecks.Active.Unhealthy.TCPFailures }}
        tcp_failures = {{ .Healthchecks.Active.Unhealthy.TCPFailures }}
        {{- end }}
        {{- if .Healthchecks.Active.Unhealthy.Timeouts }}
        timeouts = {{ .Healthchecks.Active.Unhealthy.Timeouts }}
        {{- end }}
        {{- if .Healthchecks.Active.Unhealthy.Interval }}
        interval = {{ .Healthchecks.Active.Unhealthy.Interval }}
        {{- end }}
      }
    {{- end }}
    }
    {{- end }}
    {{- if .Healthchecks.Passive }}
    passive = {
        {{- if .Healthchecks.Passive.Healthy}}
        healthy = {
            {{- if .Healthchecks.Passive.Healthy.HTTPStatuses }}
            http_statuses = [{{ range $index, $value := .Healthchecks.Passive.Healthy.HTTPStatuses }}{{ if $index }}, {{ end }}{{ $value }}{{ end }}]
            {{- end }}
            {{- if .Healthchecks.Passive.Healthy.Interval }}
            interval = {{ .Healthchecks.Passive.Healthy.Interval }}
            {{- end }}
            {{- if .Healthchecks.Passive.Healthy.Successes }}
            successes = {{ .Healthchecks.Passive.Healthy.Successes }}
            {{- end }}
        }
        {{- end }}
        {{- if .Healthchecks.Passive.Unhealthy}}
        unhealthy = {
            {{- if .Healthchecks.Passive.Unhealthy.HTTPFailures }}
            http_failures = {{ .Healthchecks.Passive.Unhealthy.HTTPFailures }}
            {{- end }}
            {{- if .Healthchecks.Passive.Unhealthy.HTTPStatuses }}
            http_statuses = [{{ range $index, $value := .Healthchecks.Passive.Unhealthy.HTTPStatuses }}{{ if $index }}, {{ end }}{{ $value }}{{ end }}]
            {{- end }}
            {{- if .Healthchecks.Passive.Unhealthy.TCPFailures }}
            tcp_failures = {{ .Healthchecks.Passive.Unhealthy.TCPFailures }}
            {{- end }}
            {{- if .Healthchecks.Passive.Unhealthy.Timeouts }}
            timeouts = {{ .Healthchecks.Passive.Unhealthy.Timeouts }}
            {{- end }}
            {{- if .Healthchecks.Passive.Unhealthy.Interval }}
            interval = {{ .Healthchecks.Passive.Unhealthy.Interval }}
            {{- end }}
        }
        {{- end }}
        {{- if .Healthchecks.Passive.Type }}
        type = "{{ .Healthchecks.Passive.Type }}"
        {{- end }}
    }
    {{- end }}
  }
  {{- end }}
  control_plane_id = var.control_plane_id
}

{{- range .Targets }}
resource "konnect_gateway_target" "{{ cleanField $.Name }}_{{ cleanField .Target.Target }}" {
  {{- if .Target.Target }}
  target           = "{{ .Target.Target }}"
  {{- end }}
  {{- if .Weight }}
  weight           = {{ .Weight }}
  {{- end }}
  {{- if .Tags }}
  tags             = [{{ range $index, $value := .Tags }}{{ if $index }}, {{ end }}"{{ $value }}"{{ end }}]
  {{- end }}
  upstream_id      = konnect_gateway_upstream.{{ cleanField $.Name }}.id
  control_plane_id = var.control_plane_id
}
{{- end }}
