resource "konnect_gateway_vault" "{{ cleanField .Name }}" {
  {{- if .Name }}
  name   = "{{ .Name }}"
  {{- end }}
  {{- if .Prefix }}
  prefix = "{{ .Prefix }}"
  {{- end }}
  {{- if .Config }}
  config = jsonencode({{ printf "%s" (jsonmarshal .Config) }})
  {{- end }}
  control_plane_id = var.control_plane_id
}