name: Integration Test

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
  pull_request: {}

jobs:
  integration:
    timeout-minutes: ${{ fromJSON(vars.DECK_WORKFLOW_GW_TIMEOUT) }}
    strategy:
      matrix:
        kong_image:
        - 'kong:2.8'
        - 'kong:3.4'
        - 'kong:3.5'
        - 'kong:3.6'
        - 'kong:3.7'
        - 'kong:3.8'
        - 'kong:3.9'
        - 'kong/kong:master'
    env:
      KONG_ANONYMOUS_REPORTS: "off"
      KONG_IMAGE: ${{ matrix.kong_image }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit
      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Setup go
        uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff # v5
        with:
          go-version-file: go.mod
      - name: Setup Kong
        run: make setup-kong
      - name: Run integration tests
        run: make test-integration
        continue-on-error: ${{ matrix.kong_image == 'kong/kong:master' }}
