name: Integration Test

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches:
    - main
  pull_request: {}

jobs:
  integration:
    strategy:
      matrix:
        kong_image:
        - 'kong:1.4.3'
        - 'kong:1.5.1'
        - 'kong:2.0.5'
        - 'kong:2.1.4'
        - 'kong:2.2.2'
        - 'kong:2.3.3'
        - 'kong:2.4.1'
        - 'kong:2.5.1'
        - 'kong:2.6.0'
        - 'kong:2.7'
        - 'kong:2.8'
        - 'kong:3.0'
        - 'kong:3.1'
        - 'kong:3.2'
        - 'kong:3.3'
        - 'kong/kong:master-alpine'
    env:
      KONG_ANONYMOUS_REPORTS: "off"
      KONG_IMAGE: ${{ matrix.kong_image }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.20'
      - name: Setup Kong
        run: make setup-kong
      - name: Run integration tests
        run: make test-integration
