name: Konnect Integration Test

on: [pull_request]

jobs:
  integration:
    env:
      KONG_ANONYMOUS_REPORTS: "off"
      DECK_KONNECT_EMAIL : ${{ secrets.DECK_KONNECT_EMAIL }}
      DECK_KONNECT_PASSWORD : ${{ secrets.DECK_KONNECT_PASSWORD }}
      DECK_KONNECT_ADDR : ${{ secrets.DECK_KONNECT_ADDR }}
      DECK_KONNECT_TOKEN : ${{ secrets.DECK_KONNECT_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: '^1.20'
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run integration tests
        run: make test-integration
