name: CI Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: '^1.16'
      - name: Checkout repository
        uses: actions/checkout@v2.3.4
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@v2.5.2
        with:
          version: v1.39.0
      - name: Verify Codegen
        run: make verify-codegen
      - name: Run tests with Coverage
        run: make coverage
      - name: Upload Code Coverage
        uses: codecov/codecov-action@v1.5.0
        with:
          name: codecov-deck
          fail_ci_if_error: true
      - name: Build
        run: make build
